<main class="container w-full mx-auto p-3 ">
    <section class="h-full flex flex-col items-center justify-center pt-16">
        <article class=" pr-6 text-center pb-12">
            <h1 class="text-4xl font-bold ">
               "Send anything you want to your email."
            </h1>
            <p>Have you ever send a file or image to your own email so you can access it on another devices? Now you won't need to anymore! Just upload your assets here & we will send it to you straight away!</p>
        </article>
        <form method="POST" action="http://localhost:3000/api" class="w-full" enctype="multipart/form-data">
            <article class="shadow-xl p-12 flex-grow w-full  flex justify-around ">
                <Main::Upload {{drop-zone url='http://example.com/example' addRemoveLinks=true}}/>
                <div class="w-5/12 ">
                    <textarea class="w-full h-full bg-gray-200 p-3" name="text" id="text" cols="30" rows="10" placeholder="paste your text in here"></textarea>
                </div>
            </article>
            <div class=" rounded pl-3 pr-6 py-3 mt-2 flex justify-center">
                <input class="shadow py-3 pl-4 pr-24 mr-2" type="email" name="email" id="email" placeholder="Your e-mail address">
                <input type="submit" value="Send!" class="shadow bg-green-500 rounded px-6 text-white font-bold">
            </div>
        </form>
    </section>
</main>



