<div class=" rounded pl-3 pr-6 py-3 mt-2 flex justify-center">
    <input class="shadow py-3 pl-4 pr-24 mr-2" type="email" name="email" id="email" placeholder="Your e-mail address">
    <input type="submit" value="Send!" class="shadow bg-green-500 rounded px-6 text-white font-bold">
</div>