<article class=" pr-6 text-center pb-12">
            <h1 class="text-4xl font-bold ">
                {{@heading}}
            </h1>
            <p>Have you ever send a file or image to your own email so you can access it on another devices? Now you won't need to anymore! Just upload your assets here & we will send it to you straight away!</p>
</article>